<div class="card comment-box">
    <div class="card-body ">
        <h5 class="card-title"><%= comment.user.full_name %></h5>
        <h6 class="card-subtitle mb-2 text-muted"><%= time_ago_in_words(comment.created_at) %></h6>
        <%= comment.body %>
    </div>
</div>