c<div class="card comment-box">
    <div class="card-body">
        <div class="form-group">
            <label class="sr-only" for="message">post</label>
            <textarea class="form-control" id="message" rows="3" placeholder="Add a comment."></textarea>
        </div>
        <div class="btn-toolbar justify-content-between">
            <div class="btn-group">
                <button type="submit" class="btn btn-primary float-right">share</button>
            </div>
        </div>
    </div>
</div>